<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0"><dict>
    <key>TMDBAPIKey</key><string>$(TMDB_API_KEY)</string>
    <key>NSCameraUsageDescription</key><string>Chụp ảnh để làm ảnh đại diện cho hồ sơ của bạn.</string>
</dict></plist>
